# 12 ê³ ê¸‰ pandas

In [2]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 12.1 Categorical ë°ì´í„°

pandasì˜ `Categorical`í˜•ì„ í™œìš©í•˜ì—¬ pandas ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ì„ ì¤„ì´ê³  ì„±ëŠ¥ì„ ê°œì„ í•  ìˆ˜ ìˆëŠ” ë°©ë²•ì„ ì†Œê°œí•œë‹¤. í†µê³„ì™€ ë¨¸ì‹ ëŸ¬ë‹ì—ì„œ ë²”ì£¼í˜„ ë°ì´í„°ë¥¼ í™œìš©í•˜ê¸° ìœ„í•œ ë„êµ¬ë“¤ë„ í•¨ê»˜ ì†Œê°œ!

### 12.1.1 ê°œë°œ ë°°ê²½ê³¼ ë™ê¸°

í•˜ë‚˜ì˜ ì»¬ëŸ¼ì—ì„œ íŠ¹ì •í•œ ê°’ì´ ë°˜ë³µë˜ì–´ ì¡´ì¬í•˜ëŠ” ê²½ìš°ëŠ” í”í•˜ë©° ì•„ë˜ì˜ í•¨ìˆ˜ë“¤ì„ í†µí•´ ì´ë“¤ì— ëŒ€í•œ ì •ë³´ë¥¼ í™•ì¸í•  ìˆ˜ ìˆë‹¤.
- unique : ë°°ì—´ì—ì„œ ì¡´ì¬í•˜ëŠ” ê°’ì˜ ëª©ë¡
- value_counts : ë°°ì—´ì—ì„œ ì–´ë–¤ ê°’ì´ ëª‡ê°œ ë“¤ì–´ìˆëŠ”ê°€

In [3]:
import numpy as np; import pandas as pd
values = pd.Series(['apple', 'orange', 'apple',
                    'apple'] * 2)
values
pd.unique(values)
pd.value_counts(values)

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

array(['apple', 'orange'], dtype=object)

apple     6
orange    2
dtype: int64

ë§ì€ ë°ì´í„° ì‹œìŠ¤í…œë“¤ì€ ì´ëŸ° ì¤‘ë³µ ë°ì´í„°ë¥¼ íš¨ìœ¨ì ìœ¼ë¡œ ì €ì¥í•˜ê³  ê³„ì‚°í•  ìˆ˜ ìˆëŠ”ê°€ë¥¼ ì¤‘ì ìœ¼ë¡œ ê°œë°œë˜ì—ˆë‹¤. ê·¸ ì¤‘ ë°ì´í„°ì›¨ì–´í•˜ìš°ìŠ¤ë¼ëŠ” ë°ì´í„° ì‹œìŠ¤í…œì—ì„œëŠ” ì‹¤ì œ ê°’ì„ ë‚˜íƒ€ë‚´ëŠ” **ì°¨ì› í…Œì´ë¸”**ê³¼ ê·¸ í…Œì´ë¸”ì„ ì°¸ê³ í•˜ëŠ” ì •ìˆ˜í‚¤ë¥¼ ì‚¬ìš©í•œë‹¤.

- ì •ìˆ˜ë¡œ í‘œí˜„ëœ ê°’ ğŸ‘‰ **ë²”ì£¼í˜•, ì‚¬ì „í˜• í‘œê¸°ë²•** ğŸ‘‰ `values`
- ì°¨ì› í…Œì´ë¸” ğŸ‘‰ **ë²”ì£¼, ì‚¬ì „, ë‹¨ê³„ ë°ì´í„°** ğŸ‘‰ `dim`
- ë²”ì£¼í˜• í…Œì´í„°ë¥¼ ê°€ë¦¬í‚¤ëŠ” ì •ìˆ˜ê°’ : **ë²”ì£¼ì½”ë“œ** ğŸ‘‰ `values`ì˜ ì›ì†Œ

In [14]:
dim = pd.Series(['apple', 'orange']) # ì°¨ì› í…Œì´ë¸”
values = pd.Series([0, 1, 0, 0] * 2) # ì •ìˆ˜í‚¤
dim
values

0     apple
1    orange
dtype: object

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [16]:
# í‚¤ë¥¼ í™œìš©í•˜ì—¬ ì›ë˜ ê°’ ë³µêµ¬
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

ğŸ“Œ Series.take
![image](https://user-images.githubusercontent.com/16831323/130546471-98288d35-e13d-4ee2-b6d1-ce7f1d408947.png)

In [18]:
df = pd.DataFrame([('falcon', 'bird', 389.0),
                   ('parrot', 'bird', 24.0),
                   ('lion', 'mammal', 80.5),
                   ('monkey', 'mammal', np.nan)],
                  columns=['name', 'class', 'max_speed'],
                  index=[0, 2, 3, 1])
df
df.take([0, 2], axis=0)
df.take([0, 2], axis=1)

     name   class  max_speed
0  falcon    bird      389.0
2  parrot    bird       24.0
3    lion  mammal       80.5
1  monkey  mammal        NaN

     name   class  max_speed
0  falcon    bird      389.0
3    lion  mammal       80.5

     name  max_speed
0  falcon      389.0
2  parrot       24.0
3    lion       80.5
1  monkey        NaN

ì´ëŸ°í•œ ë²”ì£¼í˜• í‘œê¸°ë²•ì„ ì‚¬ìš©í•˜ë©´ ë¶„ì„ ì‘ì—…ì—ì„œì˜ ì—„ì²­ë‚œ ì„±ëŠ¥ í–¥ìƒì„ ì–»ì„ ìˆ˜ ìˆë‹¤.

ğŸ˜ ë²”ì£¼ ì½”ë“œë¥¼ ë³€ê²½í•˜ì§€ ì•ŠëŠ”ì±„ë¡œ ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ë³€í˜•í•˜ëŠ” ê²ƒë„ ê°€ëŠ¥<br>
- ë²”ì£¼í˜• ë°ì´í„°ì˜ ì´ë¦„ ë³€ê²½í•˜ê¸°
- ê¸°ì¡´ ë²”ì£¼í˜• ë°ì´í„°ì˜ ìˆœì„œë¥¼ ë°”ê¾¸ì§€ ì•Šê³  ìƒˆë¡œìš´ ë²”ì£¼ ì¶”ê°€í•˜ê¸°

### 12.1.2 pandasì˜ Categorical Type
ì •ìˆ˜ ê¸°ë°˜ì˜ ë²”ì£¼í˜• ë°ì´í„°ë¥¼ í‘œí˜„(ë˜ëŠ” **ì¸ì½”ë”©**)í•  ìˆ˜ ìˆëŠ” `Categorical`í˜•ì´ë¼ê³  í•˜ëŠ” íŠ¹ìˆ˜í•œ ë°ì´í„°í˜•ì´ ì¡´ì¬í•œë‹¤.

In [19]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': np.random.randint(3, 15, size=N),
                   'weight': np.random.uniform(0, 4, size=N)},
                  columns=['basket_id', 'fruit', 'count', 'weight'])
df

   basket_id   fruit  count    weight
0          0   apple      5  3.858058
1          1  orange      8  2.612708
2          2   apple      4  2.995627
3          3   apple      7  2.614279
4          4   apple     12  2.990859
5          5  orange      8  3.845227
6          6   apple      5  0.033553
7          7   apple      4  0.425778

In [21]:
# ë¬¸ìì—´ ê°ì²´ ë°°ì—´ ğŸ‘‰ ë²”ì£¼í˜• ë°ì´í„°
fruit_cat = df['fruit'].astype('category')
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'orange']

In [25]:
# fruit_catì˜ ê°’ì€ NumPy ë°°ì—´ì´ ì•„ë‹ˆë¼ pandas.Categoricalì˜ ì¸ìŠ¤í„´ìŠ¤ì´ë‹¤
c = fruit_cat.values
c
type(c)

['apple', 'orange', 'apple', 'apple', 'apple', 'orange', 'apple', 'apple']
Categories (2, object): ['apple', 'orange']

pandas.core.arrays.categorical.Categorical

- `Categorical` ê°ì²´ëŠ” `categories`ì™€ `codes` ì†ì„±ì„ ê°€ì§„ë‹¤.

In [26]:
c.categories # The categories of this categorical.
c.codes      # The category codes of this categorical.
c.ordered    # Whether the categories have an ordered relationship.

Index(['apple', 'orange'], dtype='object')

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

False

In [32]:
# df['fruit']ì„ categoricalë¡œ ë³€ê²½í•˜ì—¬ ëŒ€ì…
df['fruit'] = df['fruit'].astype('category')
df
df.info()

   basket_id   fruit  count    weight
0          0   apple      5  3.858058
1          1  orange      8  2.612708
2          2   apple      4  2.995627
3          3   apple      7  2.614279
4          4   apple     12  2.990859
5          5  orange      8  3.845227
6          6   apple      5  0.033553
7          7   apple      4  0.425778

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   basket_id  8 non-null      int32
 1   fruit      8 non-null      category
 2   count      8 non-null      int32
 3   weight     8 non-null      float64
dtypes: category(1), float64(1), int32(2)
memory usage: 388.0 bytes

#### Sequential data â†’ pandas.Categorical

![image](https://user-images.githubusercontent.com/16831323/130558504-bd9647b5-7614-4358-b7dd-85b915b0fe3a.png)

In [33]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

['foo', 'bar', 'baz', 'foo', 'bar']
Categories (3, object): ['bar', 'baz', 'foo']

- ë³€ìˆ˜ë¡œ ì •ì˜ëœ ë²”ì£¼ì™€ ë²”ì£¼ ì½”ë“œë¥¼ ì´ìš©í•˜ì—¬ `Categorical`ì„ ìƒì„±í•˜ëŠ” ê²ƒë„ ê°€ëŠ¥í•˜ë‹¤ ğŸ‘‰ `from_codes`

![image](https://user-images.githubusercontent.com/16831323/130566277-9540a01f-0c68-4999-bab5-73706f94419b.png)

In [34]:
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo', 'bar', 'baz']

In [41]:
# íŠ¹ì • ìˆœì„œë¥¼ ë³´ì¥í•˜ê¸° ìœ„í•´ì„œëŠ” ordered íŒŒë¼ë¯¸í„°ë¥¼ ì‚¬ìš©
ordered_cat = pd.Categorical.from_codes(codes, categories,
                                        ordered=True)
ordered_cat # ìˆœì„œê°€ foo â†’ bar â†’ baz
ordered_cat.ordered

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

True

- ìˆœì„œê°€ ì—†ëŠ” ë²”ì£¼í˜• ì¸ìŠ¤í„´ìŠ¤ â†’ ìˆœì„œê°€ ì‡ëŠ” ë²”ì£¼í˜• ì¸ìŠ¤í„´ìŠ¤ : `as_ordered`

In [36]:
my_cats_2.as_ordered()

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

ì˜ˆì‹œë¥¼ ë¬¸ìì—´ë¡œë§Œ ë“¤ì—ˆì—ˆëŠ”ë° ë²”ì£¼í˜•ì´ **ê¼­** ë¬¸ìì—´ì¼ í•„ìš”ëŠ” ì—†ë‹¤. ë²”ì£¼í˜• ë°°ì—´ì€ ë³€ê²½ì´ ë¶ˆê°€ëŠ¥í•œ ê°’ì´ë¼ë©´ <u>ì–´ë–¤</u> ìë£Œí˜•ì´ë¼ë„ í¬í•¨í•  ìˆ˜ ìˆë‹¤.

In [43]:
categories = [1, 2, 3]
codes = [0, 1, 2, 0, 0, 1]
num_cats = pd.Categorical.from_codes(codes, categories)
num_cats

[1, 2, 3, 1, 1, 2]
Categories (3, int64): [1, 2, 3]

### 12.1.3 Categorical ì—°ì‚°
- pandasì—ì„œ `Categorical`ì€ ë¬¸ìì—´ ë°°ì—´ì²˜ëŸ¼ ì¸ì½”ë”©ë˜ì§€ ì•Šì€ ìë£Œí˜•ì„ ì‚¬ìš©í•˜ëŠ” ë°©ì‹ê³¼ ê±°ì˜ ìœ ì‚¬í•˜ê²Œ ì‚¬ìš©í•  ìˆ˜ ìˆë‹¤.

#### ì—°ì‚° ì˜ˆì‹œ : qcut
![image](https://user-images.githubusercontent.com/16831323/130571415-c08bea9a-3f9e-439a-b11b-bca1bafc3e14.png)

In [44]:
np.random.seed(12345)
draws = np.random.randn(1000) # ì„ì˜ì˜ ìˆ«ì ë°ì´í„°
draws[:5]

array([-0.2047,  0.4789, -0.5194, -0.5557,  1.9658])

In [53]:
bins = pd.qcut(draws, 4) # ì„ì˜ì˜ ìˆ«ì ë°ì´í„°ë¥¼ ì‚¬ë¶„ìœ„ë¡œ ë‚˜ëˆˆë‹¤.
bins # Categoricalì´ ë°˜í™˜ëœë‹¤.
bins.codes[:10]

[(-0.684, -0.0101], (-0.0101, 0.63], (-0.684, -0.0101], (-0.684, -0.0101], (0.63, 3.928], ..., (-0.0101, 0.63], (-0.684, -0.0101], (-2.9499999999999997, -0.684], (-0.0101, 0.63], (0.63, 3.928]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.684] < (-0.684, -0.0101] < (-0.0101, 0.63] < (0.63, 3.928]]

array([1, 2, 1, 1, 3, 3, 2, 2, 3, 3], dtype=int8)

In [56]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4']) # ë¼ë²¨ ì¶”ê°€
bins
bins.codes[:10]

['Q2', 'Q3', 'Q2', 'Q2', 'Q4', ..., 'Q3', 'Q2', 'Q1', 'Q3', 'Q4']
Length: 1000
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

array([1, 2, 1, 1, 3, 3, 2, 2, 3, 3], dtype=int8)

In [59]:
bins = pd.Series(bins, name='quartile')

# ë¼ë²¨ì„ ë¶™ì´ê³  ë‚˜ë©´ ë°ì´í„°ì˜ ì‹œì‘ê³¼ ëì— ëŒ€í•œ ì •ë³´ë¥¼ í¬í•¨í•˜ì§€ ëª»í•˜ê²Œ ë˜ë¯€ë¡œ
# groupbyë¥¼ ì´ìš©í•´ì„œ ìš”ì•½ í†µê³„ë¥¼ ë‚´ë³´ìğŸ‘Š
results = (pd.Series(draws)
           .groupby(bins)
           .agg(['count', 'min', 'max'])
           .reset_index())
results

  quartile  count       min       max
0       Q1    250 -2.949343 -0.685484
1       Q2    250 -0.683066 -0.010115
2       Q3    250 -0.010032  0.628894
3       Q4    250  0.634238  3.927528

In [60]:
# ì´ë•Œ, quartile ì»¬ëŸ¼ì˜ binsì˜ ìˆœì„œë¥¼ í¬í•¨í•œ ì›ë˜ ë²”ì£¼ ì •ë³´ë¥¼
# ì˜ ìœ ì§€í•˜ê³  ìˆë‹¤.
results['quartile']

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): ['Q1' < 'Q2' < 'Q3' < 'Q4']

#### categoricalì„ ì´ìš©í•œ ì„ ëŠ¥ ê°œì„ 
íŠ¹ì • ë°ì´í„°ì…‹ ëŒ€í•´ ë‹¤ì–‘í•œ ë¶„ì„ì„ í•˜ëŠ” ê²½ìš° ë²”ì£¼í˜•ìœ¼ë¡œ ë³€í™˜í•˜ëŠ” ê²ƒë§Œìœ¼ë¡œë„ ì „ì²´ ì„±ëŠ¥ì„ ê°œì„ í•  ìˆ˜ ìˆë‹¤.<br>
ğŸ‘‰ ë²”ì£¼í˜•ì— ëŒ€í•œ ê·¸ë£¹ ì—°ì‚°ì€ ì •ìˆ˜ ê¸°ë°˜ì˜ ì½”ë“œ ë°°ì—´ì„ ì‚¬ìš©í•œë‹¤.<br>
ğŸ‘‰ ì—°ì‚° ì†ë„ê°€ ë¹ ë¥´ë©° ë©”ëª¨ë¦¬ ì—­ì‹œ ë” ì ê²Œ ì‚¬ìš©í•œë‹¤.

In [65]:
N = 10000000

# ì†Œìˆ˜ì˜ ë…ë¦½ì ì¸ ì¹´í…Œê³ ë¦¬ë¡œ ë¶„ë¥˜ë””ëŠ” ì²œë§Œ ê°œì˜ ê°’ì„ í¬í•¨í•˜ëŠ” Series
draws = pd.Series(np.random.randn(N))

# Series â†’ categorical
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))
categories = labels.astype('category')
categories

0          foo
1          bar
2          baz
3          qux
4          foo
          ...
9999995    qux
9999996    foo
9999997    bar
9999998    baz
9999999    qux
Length: 10000000, dtype: category
Categories (4, object): ['bar', 'baz', 'foo', 'qux']

In [66]:
# ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ ë¹„êµ
labels.memory_usage()     # 80000128
categories.memory_usage() # 10000332

80000128

10000332

In [67]:
import sys
sys.getsizeof('1')
sys.getsizeof(1)
sys.getsizeof(True)

50

28

28

In [64]:
# ë²”ì£¼í˜•ìœ¼ë¡œ ë³€í™˜í•˜ëŠ” ê³¼ì • ì—­ì‹œ ë¹„ìš©ì´ ë“¤ê¸°ëŠ” í•˜ì§€ë§Œ ì¼íšŒì„±ì´ê¸° ë•Œë¬¸ì— 
# ë³€í™˜ì„ í•œ í›„ ì—°ì‚°ê³¼ì •ì—ì„œ ë²”ì£¼í˜•ì´ ê°€ì§€ëŠ”ì´ë“ì´ 
# ë³€í™˜ ë¹„ìš©ë³´ë‹¤ ë” í¬ë‹¤ğŸ˜‹
%time _ = labels.astype('category')

Wall time: 1.86 s

### 12.1.4 Categorical ë©”ì„œë“œ
ë²”ì£¼í˜• ë°ì´í„°ë¥¼ ë‹´ê³  ìˆëŠ” Seriesê°€ ê°€ì§€ëŠ” íŠ¹ìˆ˜í•œ ë©”ì„œë“œ ëª‡ê°€ì§€ë¥¼ ì•Œì•„ë³´ìğŸ‘Š

In [69]:
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category')
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

In [76]:
cat_s._get_values

<bound method Series._get_values of 0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']>

In [77]:
cat_s.cat.codes
cat_s.cat.categories

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

Index(['a', 'b', 'c', 'd'], dtype='object')

- íŠ¹ë³„í•œ ì†ì„±ì¸ `cat`ë¥¼ í†µí•´ `categorical` ë©”ì„œë“œì— ì ‘ê·¼í•  ìˆ˜ ìˆë‹¤.

In [79]:
help(pd.Series.cat)

Help on class CategoricalAccessor in module pandas.core.arrays.categorical:

class CategoricalAccessor(pandas.core.accessor.PandasDelegate, pandas.core.base.PandasObject, pandas.core.base.NoNewAttributesMixin)
 |  CategoricalAccessor(data)
 |
 |  Accessor object for categorical properties of the Series values.
 |
 |  Be aware that assigning to `categories` is a inplace operation, while all
 |  methods return new categorical data per default (but can be called with
 |  `inplace=True`).
 |
 |  Parameters
 |  ----------
 |  data : Series or CategoricalIndex
 |
 |  Examples
 |  --------
 |  >>> s = pd.Series(list("abbccc")).astype("category")
 |  >>> s
 |  0    a
 |  1    b
 |  2    b
 |  3    c
 |  4    c
 |  5    c
 |  dtype: category
 |  Categories (3, object): ['a', 'b', 'c']
 |
 |  >>> s.cat.categories
 |  Index(['a', 'b', 'c'], dtype='object')
 |
 |  >>> s.cat.rename_categories(list("cba"))
 |  0    c
 |  1    b
 |  2    b
 |  3    a
 |  4    a
 |  5    a
 |  dtype: category
 |  Categories (3, object): ['c', 'b', 'a']
 |
 |  >>> s.cat.reorder_categories(list("cba"))
 |  0    a
 |  1    b
 |  2    b
 |  3    c
 |  4    c
 |  5    c
 |  dtype: category
 |  Categories (3, object): ['c', 'b', 'a']
 |
 |  >>> s.cat.add_categories(["d", "e"])
 |  0    a
 |  1    b
 |  2    b
 |  3    c
 |  4    c
 |  5    c
 |  dtype: category
 |  Categories (5, object): ['a', 'b', 'c', 'd', 'e']
 |
 |  >>> s.cat.remove_categories(["a", "c"])
 |  0    NaN
 |  1      b
 |  2      b
 |  3    NaN
 |  4    NaN
 |  5    NaN
 |  dtype: category
 |  Categories (1, object): ['b']
 |
 |  >>> s1 = s.cat.add_categories(["d", "e"])
 |  >>> s1.cat.remove_unused_categories()
 |  0    a
 |  1    b
 |  2    b
 |  3    c
 |  4    c
 |  5    c
 |  dtype: category
 |  Categories (3, object): ['a', 'b', 'c']
 |
 |  >>> s.cat.set_categories(list("abcde"))
 |  0    a
 |  1    b
 |  2    b
 |  3    c
 |  4    c
 |  5    c
 |  dtype: category
 |  Categories (5, object): ['a', 'b', 'c', 'd', 'e']
 |
 |  >>> s.cat.as_ordered()
 |  0    a
 |  1    b
 |  2    b
 |  3    c
 |  4    c
 |  5    c
 |  dtype: category
 |  Categories (3, object): ['a' < 'b' < 'c']
 |
 |  >>> s.cat.as_unordered()
 |  0    a
 |  1    b
 |  2    b
 |  3    c
 |  4    c
 |  5    c
 |  dtype: category
 |  Categories (3, object): ['a', 'b', 'c']
 |
 |  Method resolution order:
 |      CategoricalAccessor
 |      pandas.core.accessor.PandasDelegate
 |      pandas.core.base.PandasObject
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.NoNewAttributesMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, data)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  add_categories(self, *args, **kwargs)
 |      Add new categories.
 |
 |      `new_categories` will be included at the last/highest place in the
 |      categories and will be unused directly after this call.
 |
 |      Parameters
 |      ----------
 |      new_categories : category or list-like of category
 |         The new categories to be included.
 |      inplace : bool, default False
 |         Whether or not to add the categories inplace or return a copy of
 |         this categorical with added categories.
 |
 |      Returns
 |      -------
 |      cat : Categorical or None
 |          Categorical with new categories added or None if ``inplace=True``.
 |
 |      Raises
 |      ------
 |      ValueError
 |          If the new categories include old categories or do not validate as
 |          categories
 |
 |      See Also
 |      --------
 |      rename_categories : Rename categories.
 |      reorder_categories : Reorder categories.
 |      remove_categories : Remove the specified categories.
 |      remove_unused_categories : Remove categories which are not used.
 |      set_categories : Set the categories to the specified ones.
 |
 |  as_ordered(self, *args, **kwargs)
 |      Set the Categorical to be ordered.
 |
 |      Parameters
 |      ----------
 |      inplace : bool, default False
 |         Whether or not to set the ordered attribute in-place or return
 |         a copy of this categorical with ordered set to True.
 |
 |      Returns
 |      -------
 |      Categorical or None
 |          Ordered Categorical or None if ``inplace=True``.
 |
 |  as_unordered(self, *args, **kwargs)
 |      Set the Categorical to be unordered.
 |
 |      Parameters
 |      ----------
 |      inplace : bool, default False
 |         Whether or not to set the ordered attribute in-place or return
 |         a copy of this categorical with ordered set to False.
 |
 |      Returns
 |      -------
 |      Categorical or None
 |          Unordered Categorical or None if ``inplace=True``.
 |
 |  remove_categories(self, *args, **kwargs)
 |      Remove the specified categories.
 |
 |      `removals` must be included in the old categories. Values which were in
 |      the removed categories will be set to NaN
 |
 |      Parameters
 |      ----------
 |      removals : category or list of categories
 |         The categories which should be removed.
 |      inplace : bool, default False
 |         Whether or not to remove the categories inplace or return a copy of
 |         this categorical with removed categories.
 |
 |      Returns
 |      -------
 |      cat : Categorical or None
 |          Categorical with removed categories or None if ``inplace=True``.
 |
 |      Raises
 |      ------
 |      ValueError
 |          If the removals are not contained in the categories
 |
 |      See Also
 |      --------
 |      rename_categories : Rename categories.
 |      reorder_categories : Reorder categories.
 |      add_categories : Add new categories.
 |      remove_unused_categories : Remove categories which are not used.
 |      set_categories : Set the categories to the specified ones.
 |
 |  remove_unused_categories(self, *args, **kwargs)
 |      Remove categories which are not used.
 |
 |      Parameters
 |      ----------
 |      inplace : bool, default False
 |         Whether or not to drop unused categories inplace or return a copy of
 |         this categorical with unused categories dropped.
 |
 |         .. deprecated:: 1.2.0
 |
 |      Returns
 |      -------
 |      cat : Categorical or None
 |          Categorical with unused categories dropped or None if ``inplace=True``.
 |
 |      See Also
 |      --------
 |      rename_categories : Rename categories.
 |      reorder_categories : Reorder categories.
 |      add_categories : Add new categories.
 |      remove_categories : Remove the specified categories.
 |      set_categories : Set the categories to the specified ones.
 |
 |  rename_categories(self, *args, **kwargs)
 |      Rename categories.
 |
 |      Parameters
 |      ----------
 |      new_categories : list-like, dict-like or callable
 |
 |          New categories which will replace old categories.
 |
 |          * list-like: all items must be unique and the number of items in
 |            the new categories must match the existing number of categories.
 |
 |          * dict-like: specifies a mapping from
 |            old categories to new. Categories not contained in the mapping
 |            are passed through and extra categories in the mapping are
 |            ignored.
 |
 |          * callable : a callable that is called on all items in the old
 |            categories and whose return values comprise the new categories.
 |
 |      inplace : bool, default False
 |          Whether or not to rename the categories inplace or return a copy of
 |          this categorical with renamed categories.
 |
 |      Returns
 |      -------
 |      cat : Categorical or None
 |          Categorical with removed categories or None if ``inplace=True``.
 |
 |      Raises
 |      ------
 |      ValueError
 |          If new categories are list-like and do not have the same number of
 |          items than the current categories or do not validate as categories
 |
 |      See Also
 |      --------
 |      reorder_categories : Reorder categories.
 |      add_categories : Add new categories.
 |      remove_categories : Remove the specified categories.
 |      remove_unused_categories : Remove categories which are not used.
 |      set_categories : Set the categories to the specified ones.
 |
 |      Examples
 |      --------
 |      >>> c = pd.Categorical(['a', 'a', 'b'])
 |      >>> c.rename_categories([0, 1])
 |      [0, 0, 1]
 |      Categories (2, int64): [0, 1]
 |
 |      For dict-like ``new_categories``, extra keys are ignored and
 |      categories not in the dictionary are passed through
 |
 |      >>> c.rename_categories({'a': 'A', 'c': 'C'})
 |      ['A', 'A', 'b']
 |      Categories (2, object): ['A', 'b']
 |
 |      You may also provide a callable to create the new categories
 |
 |      >>> c.rename_categories(lambda x: x.upper())
 |      ['A', 'A', 'B']
 |      Categories (2, object): ['A', 'B']
 |
 |  reorder_categories(self, *args, **kwargs)
 |      Reorder categories as specified in new_categories.
 |
 |      `new_categories` need to include all old categories and no new category
 |      items.
 |
 |      Parameters
 |      ----------
 |      new_categories : Index-like
 |         The categories in new order.
 |      ordered : bool, optional
 |         Whether or not the categorical is treated as a ordered categorical.
 |         If not given, do not change the ordered information.
 |      inplace : bool, default False
 |         Whether or not to reorder the categories inplace or return a copy of
 |         this categorical with reordered categories.
 |
 |      Returns
 |      -------
 |      cat : Categorical or None
 |          Categorical with removed categories or None if ``inplace=True``.
 |
 |      Raises
 |      ------
 |      ValueError
 |          If the new categories do not contain all old category items or any
 |          new ones
 |
 |      See Also
 |      --------
 |      rename_categories : Rename categories.
 |      add_categories : Add new categories.
 |      remove_categories : Remove the specified categories.
 |      remove_unused_categories : Remove categories which are not used.
 |      set_categories : Set the categories to the specified ones.
 |
 |  set_categories(self, *args, **kwargs)
 |      Set the categories to the specified new_categories.
 |
 |      `new_categories` can include new categories (which will result in
 |      unused categories) or remove old categories (which results in values
 |      set to NaN). If `rename==True`, the categories will simple be renamed
 |      (less or more items than in old categories will result in values set to
 |      NaN or in unused categories respectively).
 |
 |      This method can be used to perform more than one action of adding,
 |      removing, and reordering simultaneously and is therefore faster than
 |      performing the individual steps via the more specialised methods.
 |
 |      On the other hand this methods does not do checks (e.g., whether the
 |      old categories are included in the new categories on a reorder), which
 |      can result in surprising changes, for example when using special string
 |      dtypes, which does not considers a S1 string equal to a single char
 |      python string.
 |
 |      Parameters
 |      ----------
 |      new_categories : Index-like
 |         The categories in new order.
 |      ordered : bool, default False
 |         Whether or not the categorical is treated as a ordered categorical.
 |         If not given, do not change the ordered information.
 |      rename : bool, default False
 |         Whether or not the new_categories should be considered as a rename
 |         of the old categories or as reordered categories.
 |      inplace : bool, default False
 |         Whether or not to reorder the categories in-place or return a copy
 |         of this categorical with reordered categories.
 |
 |      Returns
 |      -------
 |      Categorical with reordered categories or None if inplace.
 |
 |      Raises
 |      ------
 |      ValueError
 |          If new_categories does not validate as categories
 |
 |      See Also
 |      --------
 |      rename_categories : Rename categories.
 |      reorder_categories : Reorder categories.
 |      add_categories : Add new categories.
 |      remove_categories : Remove the specified categories.
 |      remove_unused_categories : Remove categories which are not used.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  codes
 |      Return Series of codes as well as the index.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  categories
 |      The categories of this categorical.
 |
 |      Setting assigns new values to each category (effectively a rename of
 |      each individual category).
 |
 |      The assigned value has to be a list-like object. All items must be
 |      unique and the number of items in the new categories must be the same
 |      as the number of items in the old categories.
 |
 |      Assigning to `categories` is a inplace operation!
 |
 |      Raises
 |      ------
 |      ValueError
 |          If the new categories do not validate as categories or if the
 |          number of new categories is unequal the number of old categories
 |
 |      See Also
 |      --------
 |      rename_categories : Rename categories.
 |      reorder_categories : Reorder categories.
 |      add_categories : Add new categories.
 |      remove_categories : Remove the specified categories.
 |      remove_unused_categories : Remove categories which are not used.
 |      set_categories : Set the categories to the specified ones.
 |
 |  ordered
 |      Whether the categories have an ordered relationship.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas.core.accessor.PandasDelegate:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas.core.base.PandasObject:
 |
 |  __repr__(self) -> str
 |      Return a string representation for a particular object.
 |
 |  __sizeof__(self)
 |      Generates the total memory usage for an object that returns
 |      either a value or Series of values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from pandas.core.base.PandasObject:
 |
 |  __annotations__ = {'_cache': typing.Dict[str, typing.Any]}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas.core.accessor.DirNamesMixin:
 |
 |  __dir__(self) -> List[str]
 |      Provide method name lookup and completion.
 |
 |      Notes
 |      -----
 |      Only provide 'public' methods.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas.core.base.NoNewAttributesMixin:
 |
 |  __setattr__(self, key: str, value)
 |      Implement setattr(self, name, value).

- ë©”ì„œë“œ ë° ë©¤ë²„ë³€ìˆ˜ì˜ ì¢…ë¥˜ëŠ” ë‹¤ìŒê³¼ ê°™ë‹¤.
| ì´ë¦„ | ë‚´ìš© |
|:-----:|:-----|
| categories | The categories of this categorical. |
| ordered | Whether the categories have an ordered relationship. |
| codes | Return Series of codes as well as the index. |
| rename_categories | Rename categories. ì¹´í…Œê³ ë¦¬ ì´ë¦„ì„ ì§€ì •í•œ ì´ë¦„ìœ¼ë¡œ ë³€ê²½í•œë‹¤. ì¹´í…Œê³ ë¦¬ ìˆ˜ëŠ” ë³€í•˜ì§€ ì•ŠëŠ”ë‹¤. |
| reorder_categories | Reorder categories as specified in new_categories. rename_categoriesì™€ ìœ ì‚¬í•˜ì§€ë§Œ ìƒˆë¡œìš´ ì¹´í…Œê³ ë¦¬ê°€ ìˆœì„œë¥¼ ê°€ì§€ë„ë¡ í•œë‹¤. |
| add_categories | Add new categories. ê¸°ì¡´ ì¹´í…Œê³ ë¦¬ ëì— ìƒˆë¡œìš´ ì¹´í…Œê³ ë¦¬ë¥¼ ì¶”ê°€. |
| remove_categories | Remove the specified categories. ì¹´í…Œê³ ë¦¬ë¥¼ ì œê±°í•œë‹¤. í•´ë‹¹ ì¹´í…Œê³ ë¦¬ì— ì†í•œ ê°’ë“¤ì€ nullë¡œ ì„¤ì •í•œë‹¤. |
| remove_unused_catego | Remove categories which are not used. ë°ì´í„°ì—ì„œ ê´€ì¸¡ë˜ì§€ ì•ŠëŠ” ì¹´í…Œê³ ë¦¬ë¥¼ ì‚­ì œí•œë‹¤. |
| set_categories | Set the categories to the specified new_categories. ì¹´í…Œê³ ë¦¬ë¥¼ ì§€ì •í•œ ìƒˆë¡œìš´ ì¹´í…Œê³ ë¦¬ë¡œ ë³€ê²½í•œë‹¤. ì¹´í…Œê³ ë¦¬ ì¶”ê°€ë‚˜ ì‚­ì œê°€ ê°€ëŠ¥í•˜ë‹¤. |
| as_ordered | Set the Categorical to be ordered. ì¹´í…Œê³ ë¦¬ë¥¼ ìˆœì„œë¥¼ ê°€ì§€ë„ë¡ í•œë‹¤. |
| as_unordered | Set the Categorical to be unordered. ì¹´í…Œê³ ë¦¬ê°€ ìˆœì„œë¥¼ ê°€ì§€ì§€ ì•Šë„ë¡ í•œë‹¤. |

- set_categories : ì¹´í…Œê³ ë¦¬ ë³€ê²½

In [81]:
# í•´ë‹¹ ë°ì´í„°ì˜ ì‹¤ì œ ì¹´í…Œê³ ë¦¬ê°€ 4ì¢…ë¥˜ ì´ìƒì´ë¼ê³  ê°€ì •í•˜ë©´
# ì¹´í…Œê³ ë¦¬ë¥¼ actual_categoriesë¡œ ë³€ê²½í•˜ê³ ì í•œë‹¤.
actual_categories = ['a', 'b', 'c', 'd', 'e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
cat_s2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

In [82]:
# ë³€ê²½ ì „í›„ì˜ ì¹´í…Œê³ ë¦¬ë©´ ì›ì†Œê°¯ìˆ˜
cat_s.value_counts()
cat_s2.value_counts()

a    2
b    2
c    2
d    2
dtype: int64

a    2
b    2
c    2
d    2
e    0
dtype: int64

- remove_unused_categories : ì‹¤ì œë¡œ ê´€ì¸¡ë˜ì§€ ì•ŠëŠ” ì¹´í…Œê³ ë¦¬ ì œê±°

In [83]:
# catì—ì„œ a, b ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œ
cat_s3 = cat_s[cat_s.isin(['a', 'b'])] 
cat_s3
cat_s3.cat.remove_unused_categories()

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): ['a', 'b', 'c', 'd']

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): ['a', 'b']

#### ëª¨ë¸ë§ì„ ìœ„í•œ ë”ë¯¸ê°’ ìƒì„±í•˜ê¸° 
ğŸ‘‰ ì›í•«ì¸ì½”ë”©

In [84]:
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')

In [85]:
pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1