# ë°ì´í„° ì¤€ë¹„í•˜ê¸° : ì¡°ì¸, ë³‘í•©, ë³€í˜•

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_rows = 20
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

ì €ë²ˆ í•´ì»¤í†¤ì„ ìƒê°í•´ ë³´ë©´, csv íŒŒì¼ì´ ë¬´ë ¤ 8ê°œì˜€ìŠµë‹ˆë‹¤.<br>ì´ë ‡ë“¯ ì—¬ëŸ¬ íŒŒì¼ì´ë‚˜ ë°ì´í„° ë² ì´ìŠ¤ëŠ” ë¶„ì‚°ë˜ì–´ ìˆëŠ” ê²½ìš°ê°€ ìˆëŠ”ë° ì´ëŸ° ë°ì´í„°ë¥¼ í•©ì¹˜ê³  ì¬ë°°ì—´í•˜ëŠ” ë°©ë²•ì„ ì‚´í´ë³´ì!

## ê³„ì¸µì  ìƒ‰ì¸ : Hierarchical Indexing
- ì¶•ì— ëŒ€í•´ ë‘˜ ì´ìƒì˜ ë‹¤ì¤‘ ìƒ‰ì¸ **ë‹¨ê³„**ë¥¼ ì§€ì •

In [9]:
# ì˜ˆì‹œ : ë¦¬ìŠ¤íŠ¸ë¥¼ ìƒ‰ì¸ìœ¼ë¡œ í•˜ëŠ” Series
single_index_data = pd.Series(np.random.randn(9),
                              index=['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'])

# ì˜ˆì‹œ : ì¤‘ì²© ë¦¬ìŠ¤íŠ¸ë¥¼ ìƒ‰ì¸ìœ¼ë¡œ í•˜ëŠ” Series
multi_index_data = pd.Series(np.random.randn(9),
                             index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                                    [1, 2, 3, 1, 3, 1, 2, 2, 3]])
display(single_index_data)
display(multi_index_data)

a   -1.265934
a    0.119827
a   -1.063512
b    0.332883
b   -2.359419
c   -0.199543
c   -1.541996
d   -0.970736
d   -1.307030
dtype: float64

a  1    0.286350
   2    0.377984
   3   -0.753887
b  1    0.331286
   3    1.349742
c  1    0.069877
   2    0.246674
d  2   -0.011862
   3    1.004812
dtype: float64

ì˜ˆì‹œì—ì„œ ì¤‘ì²© ë¦¬ìŠ¤íŠ¸ë¥¼ ì´ìš©í•˜ì—¬ ìƒì„±ëœ Seriesì˜ ìƒ‰ì¸(index)ë¥¼ ì¶œë ¥í•˜ë©´ `MultiIndex` ê¼´ì„ì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.<br>

In [12]:
display(single_index_data.index)
display(multi_index_data.index)

Index(['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], dtype='object')

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

- ìƒìœ„ ë‹¨ê³„ì˜ ìƒ‰ì¸ì„ ì´ìš©í•˜ì—¬ í•˜ìœ„ ê³„ì¸µì— ì ‘ê·¼í•  ìˆ˜ ìˆë‹¤.
    - ë°°ì—´ì—ì„œ ìƒìœ„ ì°¨ì›ì˜ ìƒ‰ì¸ì„ í†µí•˜ì—¬ í•˜ìœ„ ì°¨ì›ì˜ ê°’ì„ ì°¾ì•„ê°€ëŠ” ê²ƒì²˜ëŸ¼...!
    - ì˜ˆë¥¼ë“¤ì–´ shapeê°€ (2,3)ì¸ ***ë°°ì—´A***ì—ì„œ (1,1) ìœ„ì¹˜ì˜ ì›ì†Œì— ì ‘ê·¼í•˜ê¸° ìœ„í•´ì„œëŠ” A[1][1]ë¡œ ì ‘ê·¼í•œë‹¤.
    - ì˜ˆë¥¼ë“¤ì–´ shapeê°€ (2,3)ì¸ ***ë°°ì—´A***ì—ì„œ 0ë²ˆì§¸ rowì˜ ëª¨ë“  ì›ì†Œì— ì ‘ê·¼í•˜ê¸° ìœ„í•´ì„œëŠ” A[0]ë¡œ ì ‘ê·¼í•œë‹¤.
- ê³„ì¸µì ìœ¼ë¡œ ìƒ‰ì¸ëœ ê°ì²´ëŠ” ë°ì´í„°ì˜ ë¶€ë¶„ì§‘í•©ì„ **ë¶€ë¶„ì  ìƒ‰ì¸**ìœ¼ë¡œ ì ‘ê·¼í•˜ëŠ” ê²ƒì´ ê°€ëŠ¥í•˜ë‹¤.
    - ë‹¤ë¥¸ë§ì„ ì‚¬ìš©í•˜ì˜€ì§€ë§Œ, ìœ„ì™€ ê°™ì€ ì´ì•¼ê¸°ë¡œ ìŠ¬ë¼ì´ì‹±ì´ ê°€ëŠ¥í•˜ë‹¤ëŠ” ë§ì´ë‹¤.

In [23]:
data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                        [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data

a  1    0.670216
   2    0.852965
   3   -0.955869
b  1   -0.023493
   3   -2.304234
c  1   -0.652469
   2   -1.218302
d  2   -1.332610
   3    1.074623
dtype: float64

In [21]:
data['b']

1   -0.713544
3   -0.831154
dtype: float64

In [5]:
data['b':'c']

b  1   -0.555730
   3    1.965781
c  1    1.393406
   2    0.092908
dtype: float64

In [6]:
data.loc[['b', 'd']]

b  1   -0.555730
   3    1.965781
d  2    0.281746
   3    0.769023
dtype: float64

- í•˜ìœ„ ê³„ì¸µì˜ ê°ì²´ë¥¼ ì„ íƒí•˜ëŠ” ê²ƒë„ ê°€ëŠ¥ ğŸ‘‰ loc, iloc ì‚¬ìš©ê°€ëŠ¥

In [24]:
data.loc[:, 2]

a    0.852965
c   -1.218302
d   -1.332610
dtype: float64

- unstack
    - MultiIndexì—ì„œ í•˜ë‚˜ì˜ indexë¥¼ columnìœ¼ë¡œ ë§Œë“¤ì–´ ë°ì´í„°ë¥¼ ìƒˆë¡­ê²Œ ë°°ì—´í•œë‹¤.
    - indexì˜ íŠ¹ì • ê³„ì¸µì„ columnì˜ ìµœí•˜ìœ„ ê³„ì¸µìœ¼ë¡œ ì˜¬ë¦°ë‹¤.
    - <u>ë†’ê²Œ ìŒ“ì—¬ ìˆëŠ” ê²ƒì„ ì˜†</u>ìœ¼ë¡œ í¼ëœ¨ë¦°ë‹¤.
    - ![unstack_parms](https://i.ibb.co/HYSP5qJ/image.png)

In [52]:
display(data)
display(data.index.levels[-1])

a  1    0.670216
   2    0.852965
   3   -0.955869
b  1   -0.023493
   3   -2.304234
c  1   -0.652469
   2   -1.218302
d  2   -1.332610
   3    1.074623
dtype: float64

Int64Index([1, 2, 3], dtype='int64')

In [37]:
data.unstack()

          1         2         3
a  0.670216  0.852965 -0.955869
b -0.023493       NaN -2.304234
c -0.652469 -1.218302       NaN
d       NaN -1.332610  1.074623

- stack
    - DataFrameì—ì„œ í•˜ë‚˜ì˜ columnë¥¼ indexìœ¼ë¡œ ë§Œë“¤ì–´ ë°ì´í„°ë¥¼ ìƒˆë¡­ê²Œ ë°°ì—´í•œë‹¤.
    - columnì˜ íŠ¹ì • ê³„ì¸µì„ indexì˜ ìµœí•˜ìœ„ ê³„ì¸µìœ¼ë¡œ ë‚´ë¦°ë‹¤.
    - <u>í¼ëœ¨ë ¤ì§„ ê²ƒì„ ë†’ê²Œ ìŒ“ëŠ”ë‹¤</u>.
    - ![unstack_parms](https://i.ibb.co/NTg0B4v/image.png)

In [38]:
data.unstack().stack()

a  1    0.670216
   2    0.852965
   3   -0.955869
b  1   -0.023493
   3   -2.304234
c  1   -0.652469
   2   -1.218302
d  2   -1.332610
   3    1.074623
dtype: float64

- `stack - unstack ì–´ë””ì— ì“¸ê¹Œ?`

In [88]:
air_visit_data = pd.read_csv('./data/air_visit_data.csv', 
                         parse_dates=['visit_date'])
display(air_visit_data.head())
len(air_visit_data)

           air_store_id visit_date  visitors
0  air_ba937bf13d40fb24 2016-01-13        25
1  air_ba937bf13d40fb24 2016-01-14        32
2  air_ba937bf13d40fb24 2016-01-15        29
3  air_ba937bf13d40fb24 2016-01-16        22
4  air_ba937bf13d40fb24 2016-01-18         6

252108

In [31]:
air_visit_data_multi = air_visit_data.groupby(['air_store_id', 'visit_date']).sum()
air_visit_data_multi.head(5)

                                 visitors
air_store_id         visit_date
air_00a91d42b08b08d9 2016-07-01        35
                     2016-07-02         9
                     2016-07-04        20
                     2016-07-05        25
                     2016-07-06        29

In [35]:
air_visit_data_multi.unstack().fillna(0).astype('int')

                       visitors                                              \
visit_date           2016-01-01 2016-01-02 2016-01-03 2016-01-04 2016-01-05
air_store_id
air_00a91d42b08b08d9          0          0          0          0          0
air_0164b9927d20bcc3          0          0          0          0          0
air_0241aa3964b7f861          0          0         10          9         17
air_0328696196e46f18          0          0          0          0          0
air_034a3d5b40d5b1b1          0          0          0          0          0
...                         ...        ...        ...        ...        ...
air_fea5dc9594450608          0          0          0          0          0
air_fee8dcf4d619598e          0          0          0          0          0
air_fef9ccb3ba0da2f7          0          0          0          0          0
air_ffcc2d5087e1b476          0          0          0          0          0
air_fff68b929994bfbd          0          0          0          0          0

                                                                             \
visit_date           2016-01-06 2016-01-07 2016-01-08 2016-01-09 2016-01-10
air_store_id
air_00a91d42b08b08d9          0          0          0          0          0
air_0164b9927d20bcc3          0          0          0          0          0
air_0241aa3964b7f861         10          0          5          8         16
air_0328696196e46f18          0          0          0          0          0
air_034a3d5b40d5b1b1          0          0          0          0          0
...                         ...        ...        ...        ...        ...
air_fea5dc9594450608          0          0          0          0          0
air_fee8dcf4d619598e          0          0          0          0          0
air_fef9ccb3ba0da2f7          0          0          0          0          0
air_ffcc2d5087e1b476          0          0          0          0          0
air_fff68b929994bfbd          0          0          0          0          0

                      ...                                              \
visit_date            ... 2017-04-13 2017-04-14 2017-04-15 2017-04-16
air_store_id          ...
air_00a91d42b08b08d9  ...         34         39          0          0
air_0164b9927d20bcc3  ...         13          7          1          0
air_0241aa3964b7f861  ...          0          4         15         10
air_0328696196e46f18  ...          0          9          4          3
air_034a3d5b40d5b1b1  ...         22         18         31         39
...                   ...        ...        ...        ...        ...
air_fea5dc9594450608  ...         17         20         20         15
air_fee8dcf4d619598e  ...         11         37         47         32
air_fef9ccb3ba0da2f7  ...          6          1         23          9
air_ffcc2d5087e1b476  ...         16         37         25          0
air_fff68b929994bfbd  ...          1          5          7          7

                                                                             \
visit_date           2017-04-17 2017-04-18 2017-04-19 2017-04-20 2017-04-21
air_store_id
air_00a91d42b08b08d9         19         35         17         38         55
air_0164b9927d20bcc3          2          1          8          1         26
air_0241aa3964b7f861         12         19          8          0          3
air_0328696196e46f18          3          0         24          0         19
air_034a3d5b40d5b1b1         25         20         31         12         37
...                         ...        ...        ...        ...        ...
air_fea5dc9594450608          9         16         17         23         28
air_fee8dcf4d619598e         15         22         32         26         27
air_fef9ccb3ba0da2f7          7          0         13          1          3
air_ffcc2d5087e1b476         14         28         28         23         54
air_fff68b929994bfbd          3          6          2          2          4


visit_date           2017-04-22
air_store_id
air_00a91d42b08b08d9         18
air_0164b9927d20bcc3          6
air_0241aa3964b7f861         13
air_0328696196e46f18          8
air_034a3d5b40d5b1b1         35
...                         ...
air_fea5dc9594450608         14
air_fee8dcf4d619598e         53
air_fef9ccb3ba0da2f7          5
air_ffcc2d5087e1b476          1
air_fff68b929994bfbd          5

[829 rows x 478 columns]

- DataFrameì—ì„œëŠ” ë‘ ì¶• ëª¨ë‘ ê³„ì¸µì  ìƒ‰ì¸ì„ ê°€ì§ˆ ìˆ˜ ìˆë‹¤.

In [55]:
frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [57]:
# ê³„ì¸µì  ìƒ‰ì¸ì˜ ê° ë‹¨ê³„ëŠ” ì´ë¦„ì„ ê°€ì§ˆ ìˆ˜ ìˆë‹¤.
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [58]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

- MultiIndexëŠ” ë”°ë¡œ ìƒì„±í•œ ë‹¤ìŒ ì¬ì‚¬ìš© ê°€ëŠ¥í•˜ë‹¤.
```python
MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']],
                          names=['state', 'color'])
```

### ê³„ì¸µì˜ ìˆœì„œë¥¼ ë°”ê¾¸ê³  ì •ë ¬í•˜ê¸°

#### ê³„ì¸µ ìˆœì„œ ë°”ê¾¸ê¸° : `swaplevel`
**`DataFrame.swaplevel(i=- 2, j=- 1, axis=0)`**
> Swap levels i and j in a MultiIndex.<br>
> Default is to swap the two innermost levels of the index.

**Parameters**
- i, j : int or str, Levels of the indices to be swapped. Can pass level name as string.
- axis : {0 or â€˜indexâ€™, 1 or â€˜columnsâ€™}, default 0
    - The axis to swap levels on.
    - 0 or â€˜indexâ€™ for row-wise, 1 or â€˜columnsâ€™ for column-wise.

**Returns**
- DataFrame : DataFrame with levels swapped in MultiIndex.

In [63]:
display(frame)
print(">> swaplevel(key1, key2)")
display(frame.swaplevel('key1', 'key2'))

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

>> swaplevel(key1, key2)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

#### ê³„ì¸µ ì •ë ¬í•˜ê¸°: `sort_index`
![image.png](https://i.ibb.co/tBPxw2d/image.png)

In [72]:
_frame = pd.DataFrame(np.arange(12).reshape((4, 3)),
                     index=[['a', 'a', 'b', 'b'], [2, 1, 2, 1]],
                     columns=[['Ohio', 'Ohio', 'Colorado'],
                              ['Green', 'Red', 'Green']])
display(_frame)
display(_frame.sort_index(level=0, sort_remaining=False))
display(_frame.sort_index(level=0, sort_remaining=True))
display(_frame.sort_index(level=0, ignore_index=True, sort_remaining=True))

     Ohio     Colorado
    Green Red    Green
a 2     0   1        2
  1     3   4        5
b 2     6   7        8
  1     9  10       11

     Ohio     Colorado
    Green Red    Green
a 2     0   1        2
  1     3   4        5
b 2     6   7        8
  1     9  10       11

     Ohio     Colorado
    Green Red    Green
a 1     3   4        5
  2     0   1        2
b 1     9  10       11
  2     6   7        8

   Ohio     Colorado
  Green Red    Green
0     3   4        5
1     0   1        2
2     9  10       11
3     6   7        8

In [89]:
frame.sort_index(level=1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [90]:
# swaplevelì„ ì´ìš©í•´ì„œ ê³„ì¸µ
frame.swaplevel(0, 1).sort_index(level=0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

### Summary Statistics by Level

- DataFrameê³¼ Seriesì˜ ë§ì€ ê¸°ìˆ  í†µê³„ì™€ ìš”ì•½ í†µê³„ëŠ” level ì˜µì…˜ì„ ê°€ì§€ê³  ìˆë‹¤.
    - ê¸°ìˆ  í†µê³„ : count, sum, mean, median, mode, std, min, max, abs, prod, cumsum, cumprod, describe
    - ìš”ì•½ í†µê³„ : describe

In [93]:
display(frame)
print(">> sum(level=key2)")
display(frame.sum(level='key2'))
print(">> sum(level=color)")
display(frame.sum(level='color', axis=1))

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

>> sum(level=key2)

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

>> sum(level=color)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

### DataFrameì˜ ì»¬ëŸ¼ ì‚¬ìš©í•˜ê¸°

In [94]:
frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1),
                      'c': ['one', 'one', 'one', 'two', 'two',
                            'two', 'two'],
                      'd': [0, 1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

- columnì„ ìƒ‰ì¸ìœ¼ë¡œ ì‚¬ìš©í•˜ê¸° : set_index

In [95]:
frame2 = frame.set_index(['c', 'd'])
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [96]:
# columnì„ ìœ ì§€í•˜ë©´ì„œ ìƒ‰ì¸ìœ¼ë¡œ ì‚¬ìš© : drop=True
frame.set_index(['c', 'd'], drop=False)

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

- ìƒ‰ì¸ì„ columnìœ¼ë¡œ ì‚¬ìš©í•˜ê¸° : reset_index

In [98]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1